.dropdown-wrapper {
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: white;
  z-index: 10;
  &:hover {
    color: #00599f;
    background-color: #eff6ff;
    box-shadow: 0 0 54px 0 rgba(5,15,34,.45);
  }

  &__list {
    max-height: 250px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: white;
    z-index: 10;
    width: 28.4%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 0 54px 0 rgba(5,15,34,.45);

    li {
      list-style: none;
      display: block;
      padding: 14px 0 14px 10px;
      border-radius: 10px;
      color: #00599f;

      &:hover {
        background-color: #eff6ff;
      }
    }
  }
}
