body {
  margin: 0;
}

.app {
  background-color: darkgray;
  background: url("/src/assets/background.jpg") no-repeat;
  background-size: cover;
  padding: 20px 0 20px;
  height: 350px;
}

.wrapper {
  width: 65%;
  min-width: 320px;
  max-width: 1000px;
  margin: 30px auto 0;
}
