body {
  margin: 0;
}

.app {
  background-color: darkgray;
  background-image: url("https://csawpcdnep01.azureedge.net/cache/2/f/b/2/3/5/2fb235a065bcf7a1596d626bd56955fcbdcb8c12.jpg");
  background-size: cover;
  padding: 20px 0 20px;
}

.wrapper {
  width: 65%;
  margin: 50px auto;
}
