.destination {
  &-wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 150px;

    @media screen and (max-width: 960px) {
      flex-direction: column;
    }
  }

  &-swapping {
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 960px) {
      height: 70px;
      margin: auto;
    }

    > span img {
      width: 45px;
      height: auto;
      transition: transform .4s;

      &:hover {
        transform: rotate(180deg);
      }
    }
  }
}
