.calendar {
  min-width: 300px;

  &-months {
    width: 300px;
    -webkit-border-radius: 10px;
    background: white;
    position: absolute;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #eceff5;
    z-index: 9;

    &__year {
      display: flex;
      color: #1f2128;
      justify-content: space-around;
      align-items: center;
      margin: 5px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .arrow {
        height: 100%;
        padding-top: 7px;

        > img {
          height: 20px;
        }
      }
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }

    &__item {
      width: 33%;
      cursor: pointer;
      font-weight: bold;
      color:  #525566;
      text-align: center;
      padding: 10px;
      border: 1px solid #e6e6e6;
      border-radius: 4px;
      margin: 3px;

      &:hover {
        color: #00599f;
        background-color: white;
        box-shadow: 0 0 15px 0 rgba(5, 15, 34, 0.30);
      }

      &.selected {
        color: white;
        background-color: #00599f;
      }
    }
  }
}
