.flights {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #eceff5;
  height: 400px;
  overflow-y: scroll;
  background-color: white;

  li {
    list-style: none;
    padding: 14px 0 14px 10px;
    border-radius: 10px;
    //color: #00599f;

    display: flex;
    justify-content: space-around;

    > span {
      width: 25%;
    }
  }
}
